# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Operating system files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
